In [58]:
from __future__ import division
import numpy as np
import pandas as pd
import sklearn as sk
from sklearn.metrics import pairwise_distances

In [13]:
%pylab inline


import numpy as np
import pandas as pd

sample_ids = ['A', 'B', 'C']
feature_ids = ['OTU1', 'OTU2', 'OTU3', 'OTU4', 'OTU5']
data = array([[1, 0, 0],
              [3, 2, 0],
              [0, 0, 6],
              [1, 4, 2],
              [0, 4, 1]])

table1 = pd.DataFrame(data, index=feature_ids, columns=sample_ids)

Populating the interactive namespace from numpy and matplotlib

In [14]:
import os as os

os.listdir("/home/gladkov/storage/mal/cc/")

['vare.species.2.png',
 'cca.zip',
 'sf_otu_table.txt',
 'vare.species.3.png',
 'vare.sites.2',
 'taxa.csv',
 'otu.all.csv',
 'stats.vare.cca',
 'vare.sites.1.png',
 'map_with_dist_depth.csv',
 'vare.species.4.png',
 'fdat.txt',
 'vare.sites.3',
 'sites.cca.svg',
 'taxa.all.csv',
 'vare.species.1.png',
 'vare.sites.4.png',
 'map_with.csv',
 'vare.sites.1',
 'Rrr',
 'OTU.csv',
 'vare.cca.4',
 'vare.sites.2.png',
 'vare.cca.1.sites.svg',
 'Rplot.svg',
 'vare.sites.3.png']

In [62]:
otus = pd.read_csv("/home/gladkov/storage/mal/cc/OTU.csv", sep="\t", index_col=0)
np_bc_dist = pairwise_distances(otus, metric='braycurtis')
f_new = pd.DataFrame(npar_new, index = df.index, columns = df.columns)

array([[0.        , 0.88366273, 0.96208117, ..., 0.9768045 , 0.87438495,
        0.66160684],
       [0.88366273, 0.        , 0.97790269, ..., 0.98189499, 0.97303456,
        0.61688931],
       [0.96208117, 0.97790269, 0.        , ..., 0.83553719, 0.77826888,
        0.88239328],
       ...,
       [0.9768045 , 0.98189499, 0.83553719, ..., 0.        , 0.95884448,
        0.92170062],
       [0.87438495, 0.97303456, 0.77826888, ..., 0.95884448, 0.        ,
        0.86026936],
       [0.66160684, 0.61688931, 0.88239328, ..., 0.92170062, 0.86026936,
        0.        ]])

In [52]:
metadata = pd.read_csv("/home/gladkov/storage/mal/cc/map_with_dist_depth.csv", sep="\t", index_col=0)
metadata.head()

,O.1.1,O.1.2,O.1.3,E.1.1,E.1.2,E.1.3,BF.1.2,BF.1.3,BC.1.1,BC.1.2,...,BF.3.3,O.4.1,O.4.2,O.4.3,Oe.4.1,Oe.4.2,Oe.4.3,BF.4.1,BF.4.2,BF.4.3
ID,,,,,,,,,,,,,,,,,,,,,
C_N,22.52,23.6460,22.0696,13.70,14.3850,13.4260,5.80,5.760,5.40,5.6700,...,4.4296,12.63,13.2615,12.3774,21.10,22.1550,20.6780,8.37,8.7885,8.2026
Carbon,25.23,26.4915,24.7254,0.32,0.3360,0.3136,0.16,0.150,0.11,0.1155,...,0.1078,37.65,39.5325,36.8970,1.97,2.0685,1.9306,0.23,0.2415,0.2254
Ntot,1.12,1.1760,1.0976,0.02,0.0210,0.0196,0.03,0.031,0.02,0.0210,...,0.0196,2.98,3.1290,2.9204,0.09,0.0945,0.0882,0.03,0.0315,0.0294
P2O5,629.10,635.3910,622.8090,1.34,1.3534,1.3266,127.90,129.179,135.50,136.8550,...,104.5440,219.40,221.5940,217.2060,1.78,1.7978,1.7622,103.00,104.0300,101.9700
K2O,2685.00,2711.8500,2658.1500,44.40,44.8440,43.9560,18.20,18.382,20.40,20.6040,...,40.2930,1751.00,1768.5100,1733.4900,110.10,111.2010,108.9990,38.20,38.5820,37.8180

In [24]:
%magic

In [53]:
tr_metadata = metadata.transpose()
corr_meta = tr_metadata.corr()
corr_meta.to_csv("corr.meta", sep="\t")
help(tr_metadata.corr)

Help on method corr in module pandas.core.frame:

corr(method='pearson', min_periods=1) method of pandas.core.frame.DataFrame instance
    Compute pairwise correlation of columns, excluding NA/null values

    Parameters
    ----------
    method : {'pearson', 'kendall', 'spearman'}
        * pearson : standard correlation coefficient
        * kendall : Kendall Tau correlation coefficient
        * spearman : Spearman rank correlation
    min_periods : int, optional
        Minimum number of observations required per pair of columns
        to have a valid result. Currently only available for pearson
        and spearman correlation

    Returns
    -------
    y : DataFrame

UsageError: Cell magic `%%conda` not found.